body{
  background-image: url(./pages/images/BackGround.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
}



img{width:100%;}

.flex{display: flex;}
.flex.right{justify-content: right;}
.flex.center{justify-content: center;}
.flex.left{justify-content: left;}
.flex.top{align-items: start;}
.flex.middle{align-items: center};
.flex.bottom{align-items: end;}

.x1{flex:1;}
.x2{flex:2;}
.x3{flex:3;}
.x4{flex:4;}
.x5{flex:5;}
.x6{flex:6;}
.x7{flex:7;}
.x8{flex:8;}

.header{
	background:transparent;
  border-bottom: dashed darkgray 2px;
}

.cafeLogo{
	border: solid 2px black;
	color: black;
}

.thanks{
	text-align: center;
	color:white;
	font-size:150%;
}

#nav div{
	padding-left: 4%;
}

.link{
	color: white;
}


